.responsive-container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 20px;
  gap: 30px;
}

.clothes-category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
}

.clothes-category-box {
  position: relative;
  flex-basis: calc(50% - 10px);
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 2 / 1.5;
  transition: 150ms;
  cursor: pointer;
}

.clothes-category-box:hover {
  transform: scale(1.04);
}

.clothes-category-box:hover img {
  filter: blur(1px) brightness(0.7);
  transition: 200ms;
}

.clothes-category-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  z-index: -1;
  filter: brightness(0.9);
}

.clothes-category-box ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80px;
}

.clothes-category-box ul li {
  width: fit-content;
  transition: 100ms;
  list-style: none;
}

.clothes-category-box ul li:hover {
  background-color: #ff0;
  color: #000;
  transform: translateX(2%);
}

.discount-commudity-container {
  border: 2px solid var(--foreground);
  padding: 10px;
}

.discount-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.clothes-box {
  flex-shrink: 0;
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  scroll-snap-align: start;
}

.clothes-box:hover img {
  transform: scale(1.4) rotate(1deg);
  filter: brightness(0.3);
}
.clothes-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.7);
  transition: 450ms;
}

.clothes-box h5,
.clothes-box h4 {
  margin-top: -2px;
  margin-left: 4px;
  font-size: 16px;
  max-width: 100px;
}

.clothes-box .price {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.clothes-box .view {
  position: absolute;
  top: 0;
  right: 4px;
}

.clothes-box .score {
  position: absolute;
  bottom: 0;
  right: 12px;
}

.clothes-box .score i {
  color: #ff0;
}

.top-clothes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.top-clothes-container .clothes-box {
  flex-basis: calc(100% / 3 - (20px / 3));
  opacity: 0;
  animation: scale-and-opacity 1000ms forwards;
}

@keyframes scale-and-opacity {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .responsive-container {
    text-align: left;
    flex-direction: row;
    margin-inline: auto;
    height: 300px;
  }

  .clothes-category-container {
    height: 300px;
  }

  .clothes-category-box {
    height: 140px;
  }

  .discount-commudity-container {
    max-width: 60%;
    height: 300px;
  }

  .discount-container {
    height: 260px;
  }
  .discount-container .clothes-box {
    aspect-ratio: 1 / 2;
    height: 100%;
  }
}